:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  border: 0.3rem solid #eee;
  border-radius: 15px;
  padding: 0.2rem;
  box-sizing: border-box;
  height: calc(100vh - 40px);
  text-align: center;
}

body {
  background-color: #4c6c06; /* Green felt color */
  background-image: url('https://www.transparenttextures.com/patterns/green-felt.png');
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
